<h1 class="text-center">Contato {{ contatoId}}</h1>
<p ng-show="mensagem.texto">{{mensagem.texto}}</p>

<form>
		<div class="form-group">
				<label for="nome"> Nome completo</label>
				<input type="text" class="form-control" id="nome" name="nome" ng-model="contato.nome" required />
		</div>
		<div class="form-group">
				<label for="email"> Email</label>
				<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="email" class="form-control" id="email" name="email" ng-model="contato.email" placeholder="email@empresa.com" required />
				</div>
		</div>
		<div>
				<button type="submit" class="btn btn-primary"> SALVAR</button>
				<a href="#/" class="btn btn-default"> VOLTAR</a>
		</div>
</form>