<style>.cp{cursor:pointer;}</style>
<div class="jumbotron">
		<h1 class="text-center"> Welcome ao Contatooh</h1>
</div>


<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
<button class="btn btn-primary" ng-click="incrementa()">Novo</button>
<input type="search" placeholder="type to search" class="pull-right" ng-model="filtro"/>
<p class="text-info" ng-show="contatos.length">Contatos cadastrados : {{ contatos.length}}</p>
<p class="text-warning" ng-hide="contatos.length">Acabou</p>

<div class="table-responsive cp">
		<table class="table table-hover table-striped">
				<tr>
						<th class="text-center"> NOME </th>
						<th class="text-center"> EMAIL</th>
						<th class="text-center"> ACT </th>
				</tr>
				<tr ng-repeat="contato in contatos|filter:filtro">
						<td><a ng-href="#/contatos/{{contato._id}}">{{ contato.nome}}</a></td>
						<td><a ng-href="#/contatos/{{contato._id}}">{{ contato.email}}</a></td>
						<td class="text-center"><button class="btn btn-warning" ng-click="remove(contato)">del</button></td>
				</tr>
		</table>
</div>